<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net debug="true">
    <!--RootLog實例，子Log會繼承其特性-->
    <root>
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="DEBUG" />
      <!--啟用按日期分割-->
      <appender-ref ref="LogFileAppenderByDate" />
    </root>
    <logger name="SysLog">
      <level value="ALL" />
      <appender-ref ref="LogFileAppenderByDate" />
    </logger>
    
    <!--按日期分割日誌文件 一天一個-->
    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender" >
      <!--是否續寫-->
      <appendToFile value="true" />
      <!--最小鎖定模型以允许多個程序可以寫入同一個文文件-->
      <lockingModel value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路徑-->
      <file value="Log\" />
      <!--可以按天、小時、分鐘為Log命名-->
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <!--StaticLogFileName的值如果為true，則當前日誌文件的文件名只取File參數。如果為false，則文件名取File+DatePattern-->
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <!--日誌输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="發生時間:%d %n事件級別:%level %n相關類別:%c%n程序文件:%F 第%L行%n日誌內容:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>
  </log4net>
</configuration>